#include <stdio.h>

int main() {
    int n;
    printf("Введіть натуральне число n (1 < n < 150): ");
    scanf("%d", &n);  // Введення натурального числа n
    
     // Перевірка чи задовольняє число n обмеженням
    if (n <= 1 || n >= 150) {
        printf("Невірне число\n");
        return 0;
    }

    int count = 0;  // Оголошення змінних

    for (int i = 1; i <= n; i++) {  // Цикл перебору чисел від 1 до n
        if (n % i == n / i) {  // Перевірка умови, чи число i є рівним дільником n
            count++;  // Якщо умова виконується, збільшуємо лічильник на 1
        }
    }

    printf("Кількість рівних дільників числа %d: %d\n", n, count);  // Виведення результату

}
